.headerColumn {
    text-align: left;
    padding-left: 15px;
    background-color: lightgray;
    height: 40px;
    color: black;
}

.backgroundAvailableProducts {
    background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)), url(/assets/images/logos/watermark_3.jpg) no-repeat center center fixed;
    height: 100%;
}
.notes {
    font-size: 13px;
}
