<div class="backgroundImageContacts">
    <table class="center" style="width: 100%; padding-top: 350px;" >
        <tr>
            <td style="padding-left: 20px; text-align: center;">
                <div style="font-size: 40px;">
                    KISHAN LAL JAGAN NATH 
                </div><br>
                <div style="font-size: 30px;">
                    27A - Gadodia Market,<br>
                    Khari Baoli, Delhi - 110006 (India)
                </div>
            </td>
            <td>
                <tr >
                    <td>
                        <img alt="Card" src="assets/images/email.jpg" style="width: 50px;">
                    </td>
                    <td>
                        <p style="color: black; font-size: 20px;">
                            kljnath@gmail.com
                        </p>
                    </td>
                </tr>
                <tr >
                    <td>
                        <img alt="Card" src="assets/images/websiteLogo.jpg" style="width: 50px;">
                    </td>
                    <td>
                        <p style="color: black; font-size: 20px;">
                            www.goodseasons.in
                        </p>
                    </td>
                </tr>
                <tr >
                    <td>
                        <img alt="Card" src="assets/images/landline.jpg" style="width: 50px;">
                    </td>
                    <td><p style="color: black; font-size: 20px;">+91 11 41254444</p></td>
                </tr>
                <tr>
                    <td>
                        <img alt="Card" src="assets/images/whatsapp.jpg" style="width: 50px;">
                    </td>
                    <td><p style="color: black; font-size: 20px;">+91 9818800299</p></td>
                </tr>
            </td>
        </tr>   
    </table>
</div>