<div class="backgroundImageContacts">
    <table class="center" style="width: 100%;" >
        <tr>
            <td style="width: 40%; background-color: darkgrey; background-image: url(./assets/images/backgrounds/contact-us-bg.jpg)">
                
            </td>
            <td style="padding-left: 20px; text-align: center;">
                <div style="font-size: 30px;" [innerHTML]="FIRM_NAME">
                </div><br>
                <div style="font-size: 20px;" [innerHTML]="ADDRESS">
                </div>
            </td>
            <td>
                <tr >
                    <td>
                        <img alt="Card" src="assets/images/icons/email.jpg" style="width: 40px;">
                    </td>
                    <td>
                        <p class="details">{{EMAIL_ID}}</p>
                    </td>
                </tr>
                <tr >
                    <td>
                        <img alt="Card" src="assets/images/icons/websiteLogo.jpg" style="width: 40px;">
                    </td>
                    <td>
                        <p class="details">{{WEBSITE}}</p>
                    </td>
                </tr>
                <tr >
                    <td>
                        <img alt="Card" src="assets/images/icons/landline.jpg" style="width: 40px;">
                    </td>
                    <td><p class="details">{{PHONE_NUMBER}}</p></td>
                </tr>
                <tr>
                    <td>
                        <img alt="Card" src="assets/images/icons/whatsapp.jpg" style="width: 40px;">
                    </td>
                    <td><p class="details">{{MOBILE_NUMBER}}</p></td>
                </tr>
            </td>
        </tr>   
    </table>
</div>