.center {
    margin-left: auto;
    margin-right: auto;
}
.details {
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.dividerContent {
    width: 43%;
}

.card {
    font-size: 0.9rem;
}

.social > img {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
}
