<div class="backgroundImageProductCatalog">

    <table>
        <tr>
            <td>
                <button pButton type="button" label="Spices" style="width: 415px; height: 100px;
                background-image: url(./assets/images/background.jpg); font-weight: bold; color: red; font-size: 30px;" 
                (click)="spicesSelected()">
                </button>
            </td>
            <td>
                <button pButton type="button" label="Dry Fruits" style="width: 415px; height: 100px;
                background-image: url(./assets/images/walnut.jpg); font-weight: bold; color: aliceblue; font-size: 30px;" 
                (click)="dryFruitsSelected()">
                </button>
            </td>
            <td>
                <button pButton type="button" label="Oil Seeds" style="width: 415px; height: 100px;
                background-image: url(./assets/images/background2.jpg); font-weight: bold; color: black; font-size: 30px;" 
                (click)="oilSeedsSelected()">
                </button>
            </td>
        </tr>
    </table>

    <div *ngIf="isSpicesSelected">
        <p-table [value]="spicesProducts" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="products" style="width: 20%;">{{product.name}}</td>
                    <td style="width: 20%;"><img [src]="'assets/images/spices/' + product.image" [alt]="product.name" width="160" class="p-shadow-4" /></td>
                    <td class="productsDescription" style="width: 60%;">{{product.description}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="isDryFruitsSelected">
        <p-table [value]="dryFruitsProducts" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="products">{{product.name}}</td>
                    <td><img [src]="'assets/images/dryFruits/' + product.image" [alt]="product.name" width="160" class="p-shadow-4" /></td>
                    <td class="productsDescription">{{product.description}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="isOilSeedsSelected">
        <p-table [value]="oilSeedsProducts" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="products">{{product.name}}</td>
                    <td><img [src]="'assets/images/oilSeeds/' + product.image" [alt]="product.name" width="160" class="p-shadow-4" /></td>
                    <td class="productsDescription">{{product.description}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>