<div class="backgroundImageProductCatalog">

    <div class="row">
        <div class="column">
            <button pButton type="button" label="Spices" style="width: 100%; height: 100%;
            background-image: url(./assets/images/backgrounds/spices-bg.jpg); font-weight: bold; color: red; font-size: 30px;" 
            (click)="spicesSelected()">
            </button>
        </div>
        <div class="column">
            <button pButton type="button" label="Dry Fruits" style="width: 100%; height: 100%;
            background-image: url(./assets/images/backgrounds/dry-fruits-bg.jpg); font-weight: bold; color: black; font-size: 30px;" 
            (click)="dryFruitsSelected()">
            </button>
        </div>
        <div class="column">
            <button pButton type="button" label="Oil Seeds" style="width: 100%; height: 100%;
            background-image: url(./assets/images/backgrounds/oil-seeds-bg.jpg); font-weight: bold; color: white; font-size: 30px;" 
            (click)="oilSeedsSelected()">
            </button>
        </div>
    </div>

    <div *ngIf="isSpicesSelected" class="spicesBackground">
        <p-table [value]="spicesProducts" [scrollable]="true" >
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="products" style="width: 20%; background-color: white;">{{product.name}}</td>
                    <td style="width: 20%; background-color: white;"><img [src]="'assets/images/spices/' + product.image" [alt]="product.name" width="200" height="160" class="p-shadow-4" /></td>
                    <td class="productsDescription" style="width: 60%;">
                        <div class="justifyDescription" [innerHTML]="product.description"></div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="isDryFruitsSelected" class="dryFruitsBackground">
        <p-table [value]="dryFruitsProducts" [scrollable]="true" >
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="products" style="width: 20%; background-color: white;">{{product.name}}</td>
                    <td style="width: 20%; background-color: white;"><img [src]="'assets/images/dryFruits/' + product.image" [alt]="product.name" width="200" height="160" class="p-shadow-4" /></td>
                    <td class="productsDescription" style="width: 60%;">
                        <div class="justifyDescriptionDryFruits">{{product.description}}</div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="isOilSeedsSelected" class="oilSeedsBackground">
        <p-table [value]="oilSeedsProducts" [scrollable]="true">
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="products" style="width: 20%; background-color: white;">{{product.name}}</td>
                    <td style="width: 20%; background-color: white;"><img [src]="'assets/images/oilSeeds/' + product.image" [alt]="product.name" width="200" height="160" class="p-shadow-4" /></td>
                    <td class="productsDescription" style="width: 60%;">
                        <div class="justifyDescription">{{product.description}}</div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>