<p-card style="text-align: center;">
    <img style=" width: 20%; height: 20%;" src="assets/images/logos/watermark_3.jpg" />
</p-card>

<table style="width: 100%;">
    <tr>
        <td style="width: 100%; height: 100%;">
    <tr class="table-row-header">
        <td style="width: 100%; height: 100%;">{{ABOUT_US_HEADER}}</td>
    </tr>
    <br>
    <tr>
        <td style="padding-right: 20px; padding-left: 20px;">
            <p style="text-justify: inter-word; text-align: justify;" [innerHTML]="aboutUsContent"></p>
        </td>
    </tr>
    </td>
    </tr>
</table>
