.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #ffffff;
    border-color: red;
    color: blue;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
    background: #ffffff;
    border-color: black;
    color: red;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border: solid #dee2e6;
    border-width: 0 0 5px 0;
    border-color: transparent transparent #dee2e6 transparent;
    background: #ffffff;
    color: black;
    padding: 1.6rem;
    font-weight: 300;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
}
.card {
    background: var(--surface-e);
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.headerBackground {
    background-image: url('/assets/images/backgrounds/indian-spices.jpg');
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
}
.headerMain {
    width: auto;   
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
}
.footerBackground {
    height: 30%;
    background-position: center;
    background-image: url(/assets/images/backgrounds/footer-bg.jpg);
}
.footerRightName {
    color: red;
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
}
.btn-fb {
    color: #fff;
    background-color: #3b5998 !important;
}
.center {
    margin-left: auto;
    margin-right: auto;
}