<div class="headerBackground">
</div>
<div class="card">
  <app-landing-page></app-landing-page>
</div>

<div>
  <router-outlet></router-outlet>
</div>

<div class="footerBackground">
  <br>
  <table class="center">
    <tr>
      <td style="padding-right: 10px;">
          <button class="btn btn-primary" style="width: 30px; height: 30px;
            background-image: url(./assets/images/icons/facebook.jpg);"
            (click)="onClickFabebook()"></button>
      </td>
      <td style="padding-left: 10px;">
          <button class="btn btn-primary" style="width: 30px; height: 30px;
            background-image: url(./assets/images/icons/blogIcon.jpg);"
            (click)="onClickBlog()"></button>
      </td>
    </tr>
    <tr>
      <td>
        <p style="text-justify: auto; text-align: center; color: white">
          Disclaimer: <br>
          All information mentioned under 'Knowledge Center' is sourced from various articles and journals. <br>
          Firm is not responsible for the accuracy, completeness, suitability, or validity of any information. <br>
          Visitors are advised to authenticate the information before consuming any product.
        </p>
      </td>
    </tr>
  </table>
  <!-- <div class="footerRightName">Creations: Ravya Garg</div> -->
</div>
