:host {
    display: block;
    left: 0;
    width: 100%;
    height: 100%;
}

body .p-menubar {
    padding: 0rem 0;
    background: gold;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

.pCardHeader {
    width: 100%;
    right: 0;
}
.pMainContent{
    width: 100%;
    right: 0;
}

body .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background: gold;
}

body .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
    background: gold;
}
